<div class="container">
    <nav class="navbar navbar-expand-lg mb-5">
        <div class="col-3 text-center">
            <img width="250px" src="/assets/img/clubHair.png" alt="image">
        </div>
        <div class="col-6" id="navbarSupportedContent">
            <div class="d-flex justify-content-center" role="search">
                <input class="form-control" style="width:50%;" type="search" placeholder="PESQUISAR"
                    aria-label="Search">
            </div>
        </div>
        <div class="col-3 d-flex flex-nowrap justify-content-end">
            <i class="bi bi-bell me-5"></i>
            <i class="bi bi-person-circle me-2"></i>
            <div class="row flex-wrap justify-content-end">
                <span class="col-12">ANDRÉ LUIZ</span>
                <span class="col-12 smallFont">GERENTE</span>
            </div>
        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="col-3 pt-5 px-0">
            <div class="container-fluid">
                <div class="row my-5">
                    <div class="col ps-5 pointer" [routerLink]="['/servicos']" routerLinkActive="active">
                        <i class="bi bi-circle-fill smallFont me-5"></i>
                        <span>SERVIÇOS</span>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col ps-5 pointer" [routerLink]="['/agenda']" routerLinkActive="active">
                        <i class="bi bi-circle-fill smallFont  me-5"></i>
                        <span>AGENDA</span>
                    </div>
                </div>
                <div class="row my-5" [routerLink]="['/extratos']" routerLinkActive="active">
                    <div class="col ps-5 pointer">
                        <i class="bi bi-circle-fill smallFont me-5"></i>
                        <span>EXTRATO</span>
                    </div>
                </div>
                <div class="row my-5" [routerLink]="['/relatorios']" routerLinkActive="active">
                    <div class="col ps-5 pointer">
                        <i class="bi bi-circle-fill smallFont me-5"></i>
                        <span>RELATÓRIO</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 px-5">
            <div class="container-fluid">
                <div class="row" style="height: 3rem;">
                    <div class="col-auto" (click)="adicionar()">
                        <span class="largeFont pointer">ADICIONAR</span>
                    </div>
                </div>
                <div class="row justify-content-center my-4" *ngFor="let servico of servicos">
                    <div class="col">
                        <div class="col w-100 text-end mb-1">
                            <span class="me-4 pointer" (click)="editar(servico)">EDITAR</span>
                        </div>
                        <div class="d-flex servico">
                            <span>{{servico.nome}} </span>
                            <span class="ms-auto">R$ {{servico.valor}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 px-0">
            <div *ngIf="adicionando || editando" class="container-fluid px-0" style="background-color: #3b4555;">
                <adicionar-servico *ngIf="adicionando" [logado]="logado" (adicionar)="getServicos()"
                    (cancelar)="cancelar()">
                </adicionar-servico>
                <editar-servico *ngIf="editando" [logado]="logado" [servico]="servico" (editar)="getServicos()"
                    (cancelar)="cancelar()">
                </editar-servico>
            </div>
        </div>
    </div>

</div>