<div class="container">
    <div class="row my-4">
        <div class="col  justify-content-start">
            <span class="me-5">SERVIÇOS</span>
            <span class="me-5" [routerLink]="['/barbearias']">BARBEIROS</span>
            <span class="me-5">GALERIA</span>
            <span class="me-5">SOBRE</span>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <img src="/assets/img/clubHairLarge.png" alt="image" class="image">
        </div>
    </div>
    <div class="row justify-content-center my-5 my-5">
        <div class="col-auto">
            <div class="botaoGrande pointer" [routerLink]="['/barbearias']">
                <span>AGENDAR AGORA</span>
            </div>
        </div>
    </div>
</div>