.card {
    border-radius: 1rem;
    background-color: #ffffff;
    max-height: 60vh;
    padding: 1rem;
    color: #6e6350;
    font-weight: 500;
    white-space: nowrap;
    max-width: 50%;
    margin: auto;
}

.container-fluid {
    overflow-y: auto;
}

.servico {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #b09e80;
    background-clip: padding-box;
    border: 1px solid #b09e80;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    color: #ffffff;
    cursor: pointer;
}

.w-30 {
    width: 30%;
}

.quadrado {
    padding: 3rem;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #FFFFFF;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 500;
}