<div class="container mt-5">
    <div *ngIf="alert" class="position alert alert-danger" role="alert">
        CPF ou senha incorreto
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-auto">
            <img src="/assets/img/clubHair.png" alt="image">
        </div>
    </div>
    <ng-container *ngIf="!esqueceuSenha">
        <div class="row justify-content-center my-4">
            <div class="col-6 d-flex">
                <i class="bi bi-person-fill me-3"></i>
                <input class="white" [(ngModel)]="formUsuario.cpf" type="text" id="cpf" placeholder="INSIRA SEU CPF">
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-6 d-flex">
                <i class="bi bi-lock-fill pe-3"></i>
                <input class="white" [(ngModel)]="formUsuario.senha" type="password" id="email"
                    placeholder="INSIRA SUA SENHA">
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-auto">
                <div class="botaoGrande pointer" (click)="logar()">
                    <span>ENTRAR</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-auto pointer" (click)="recuperarSenha()">
                <span>ESQUECEU SUA SENHA?</span>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="esqueceuSenha && !enviado">
        <div class="row justify-content-center my-4">
            <div class="col-4" style="text-align: center;">
                <span>INSIRA SEU E-MAIL DE CADASTRO PARA RECEBER AS INSTRUÇÕES DE RECUPERAÇÃO</span>
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-6 d-flex">
                <i class="bi bi-person-fill me-3"></i>
                <input class="white" [(ngModel)]="formUsuario.email" type="text" id="email"
                    placeholder="INSIRA SEU E-MAIL">
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-auto">
                <div class="botaoGrande pointer" (click)="enviado = true">
                    <span>ENVIAR</span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="esqueceuSenha && enviado">
        <div class="row justify-content-center my-4">
            <div class="col-4" style="text-align: center;">
                <span>AS INFORMAÇÕES PARA A TROCA DE SENHA FORAM ENVIADAS PARA O SEU E-MAIL</span>
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-auto">
                <div class="botaoGrande pointer" (click)="esqueceuSenha = false; enviado = false ">
                    <span>VOLTAR</span>
                </div>
            </div>
        </div>
    </ng-container>
</div>