<div class="container">
    <nav class="navbar navbar-expand-lg mb-5">
        <div class="col-3 text-center">
            <img width="250px" src="/assets/img/clubHair.png" alt="image">
        </div>
        <div *ngIf="escolhendoBarbearia" class="col-6" id="navbarSupportedContent">
            <div class="d-flex justify-content-center" role="search">
                <input class="form-control" style="width:50%;" type="search" placeholder="PESQUISAR" aria-label="Search"
                    (keyup)="subject.next($event)">
            </div>
        </div>
        <div *ngIf="pagando || pagamentoFinalizado" class="col-6" id="navbarSupportedContent">
            <div class="d-flex justify-content-center" role="pagamento">
                <h3>
                    {{pagamentoFinalizado ? 'OBRIGADO POR UTILIZAR O CLUB HAIR!' :'PAGAMENTO'}}
                </h3>
            </div>
        </div>
    </nav>
    <div class="row" style="height: 7rem;"></div>
    <div *ngIf="escolhendoBarbearia" class="row barbeariasContainer">
        <div *ngFor="let barbearia of barbeariasTela" class="col-5 barbeariasCard"
            (click)="escolherBarbearia(barbearia)">
            <div class="col-auto me-3 d-flex justify-content-center align-items-center">
                <div class="quadrado">LOGO</div>
            </div>
            <div class="col">
                <div class="row text-start">
                    <span class="titulo">{{barbearia.nome}}</span>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <i class="bi bi-circle-fill bolinha"
                            [ngStyle]="{'color': checarHorario(barbearia) ? 'yellowgreen' : 'red'}"></i>
                        <span>{{checarHorario(barbearia) ? 'aberto' : 'fechado'}}</span>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-clock bolinha"></i>
                        <span>{{barbearia.horarioAbertura + ':00 - ' + barbearia.horarioFechamento + ':00'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-start">
                        <i *ngFor="let star of checarAvaliacao(barbearia.avaliacao)"
                            class="bi bi-star-fill estrela"></i>
                        <span class="ps-2">{{barbearia.numero > 500 ? '(500+)' : '(' + barbearia.numero + ')'}}</span>
                    </div>

                </div>
                <div class="row">
                    <div class="col text-start">
                        <i class="bi bi-geo-alt-fill bolinha"></i>
                        <span>0.5 KM DISTÂNCIA</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <escolher-servicos *ngIf="escolhendoServico" [barbearia]="barbeariaSelecionada"
        (servico)="subjectServico.next($event)">
    </escolher-servicos>
    <escolher-funcionario *ngIf="escolhendoFuncionario" [servico]="servicoSelecionado"
        (funcionario)="subjectFuncionario.next($event)"></escolher-funcionario>
    <escolher-data (agendamento)="subjectAgendamento.next($event)" [funcionario]="funcionarioSelecionado"
        *ngIf="escolhendoData"></escolher-data>
    <pagamento *ngIf="pagando" (finalizado)="efetuarPagamento($event)"></pagamento>

    <div *ngIf="pagamentoFinalizado" class="row justify-content-center">
        <div class=" fixedTop">
            <h3>
                OBRIGADO POR UTILIZAR O CLUB HAIR!
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <i class="bi bi-check-circle-fill"></i>
            </div>
            <div class="col-5">
                <h5>PAGAMENTO FEITO COM SUCESSO!</h5>
                <h5 class="my-4">AS INFORMAÇÕES DO AGENDAMENTO FORAM ENVIADAS PARA O SEU E-MAIL</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto resumo">
                <span class="d-block">VALOR PAGO: {{evento.valor}}</span>
                <span>CARTÃO FINAL: ****</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-auto voltar" (click)="voltar()">
            <i class="bi bi-box-arrow-in-left display-5"></i>
            <span class="ms-2 titulo">{{!pagamentoFinalizado ? 'VOLTAR' : 'VOLTAR PARA O INÍCIO'}}</span>
        </div>
    </div>
</div>